{% extends "layout.html" %}

{% block title %}
    Portifolio
{% endblock %}

{% block main %}
    <main class="container py-5 text-center">
        <table class="table table-striped">
            <thead>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </thead>
        {% for transaction in historic %}
            <tbody>
                <tr>
                    <td class="text-start">{{ transaction.symbol }}</td>
                    <td class="text-end">{{ transaction.num_shares }}</td>
                    <td class="text-end">{{ transaction.current_price | usd }}</td>
                    <td class="text-end">{{ transaction.transaction_time }}</td>
                </tr>
            </tbody>
        {% endfor %}
        </table>
    </main>


{% endblock %}
